@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap');

:root{
    --main-color: #f7bd4f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body{
  font-family: 'Poppins', sans-serif;
  /*background: #fff;
  color: #080808;*/
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slide-img{
    width: 100%;
    height: 100vh;
    -webkit-animation: zoom 3s linear infinite;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}


/* Nav/Header Styles*/
#header{
    width: 100%;
}

.logo a{
    text-decoration: none;
}

.container{
    padding: 10px 8.5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a.btn1{
    padding: 8px 16px;
    background: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: var(--main-color);
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover:after{
    width: 100%;
}

nav .fas{
    display: none;
}

.color-switcher{
    position: fixed;
    top: 35px;
    right: -200px;
    width: 200px;
    padding: 10px;
    background: #fff;
    z-index: 1000;
    color: var(--main-color);
}

.color-switcher.active{
    right: 0px;
}

.color-switcher h4{
    color: var(--main-color);
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
    padding: 5px 0;
    text-align: center;
}

.color-switcher .switcher-btn{
    position: absolute;
    top: 20px;
    left: -75px;
    padding: 10px 15px;
    color: var(--main-color);
    background: #f2f1f1;
    cursor: pointer;
    font-size: 16px;
}

.color-switcher .switcher-btn i{
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.color-switcher .theme-buttons-container{
    display: flex;flex-wrap: wrap;
    justify-content: center;
}

.color-switcher .theme-buttons-container .theme-buttons{
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
/* Nav/Header styles End */

/* Hero Section Styles */
.row-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row-1 .top-header{
    color: #fff;
    margin-top: 15%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    white-space: nowrap;
}

.row-1 h2{
    color: #f7bd4f;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 25px;
}

.row-1 .top-description{
    color: #f7bd4f;
    font-size: 20px;
}

form #sign-up{
    display: inline-block;
    border: 2px solid #ccc;
    outline: none;
    padding: 18px 16px;
    margin-top: 12px;
    color: #262626;
    font-size: 18px;
    border-radius: 5px;
}

form .btn {
    display: inline-block;
    padding: 18px 16px;
    border-radius: 5px;
    color: #f7bd4f;
    border: none;
    margin-top: 12px;
  }
  
  .btn-get-started {
    font-size: 18px;
    background-color: #063970;
    transition: color 0.3s ease-out;
  }
  
  .btn-get-started:hover {
    color: #fff;
  }
  
  .btn-get-started:hover > i {
    transform: translateX(4px);
  }
  
  .btn-get-started > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

/* Hero Section Styles End */

/* About Section */
.padder{
    padding-top: 50px;
    padding-bottom: 50px ;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

hr{
    height: 5px;
    background-color: var(--main-color);
}

.about-col-1{
    flex-basis: 40%;
    padding: 15px 0;
    /*text-align: justify;*/
    transform: scale(1.1);
}

.about-col-1 h2{
    font-size: 40px;
    color: var(--main-color);
}

.description{
    font-size: 20px;
    color: #262626;
}

.about-col-2{
    flex-basis: 40%;
    padding: 15px 0;
    /*position: relative;*/
}

.about-col-2 img{
    width: 100%;
    transform: scale(1.2);
}

.about-col-2 .card{
    position: relative;
    background: var(--main-color);
    padding: 18px 20px;
    border-radius: 5px;
    /*top: 65%;
    left: 30%;*/
}

.about-col-2 .card i{
    color: #152222;
    font-size: 20px;
    -webkit-animation: bouncing 0.8s linear infinite;
    animation: bouncing 0.8s linear infinite;
}

@keyframes bouncing {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(13px);
    }
}
/* About Section End */

/* FAQ Section */
.faq-row h1{
    color: var(--main-color);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
}

.faq-row h1 span{
    color: #080808;
}

.accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f2f1f1;
    border-radius: 10px;
    width: 50%;
    text-align: left;
}

.accordion::before {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active::before {
    content: "\2796"; 
}

.accordion-question p{
    margin: 5px;
    padding: 0;
    font-size: 20px;
}

.accordion-answer p{
    margin: 5px;
    padding: 10px;
    font-size: large;
    color: #063970;
    background: #ddd;
    border-radius: 10px; 
    line-height: 30px;
    font-size: 18px;
}

.accordion:hover{
    cursor: pointer;
}

.accordion-answer {
    display: none;
} 

.accordion.active .accordion-answer {
    display: block;
}

.top-description2{
    margin-top: 40px !important;
    color: var(--main-color) !important;
}
/* FAQ Section end */

/* Footer */
#footer{
    background: #555353;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.row ul li{
    list-style: none;
    margin-bottom: 10px;
}

.row ul li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color);
}

.logo p i{
    color: var(--main-color);
    font-size: 25px;
}

.logo  p{
    margin-top: 14px;
}
/* Footer End */

/* login styles */
.login, input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-btn {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn, .submit {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Extra styles for the submit button */
.submit{
    background-color: var(--main-color);
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    filter: brightness(1) saturate(2) blur(0.6);
}

.form-container {
    padding: 16px;
}

span.frgt {
    float: right;
    padding-top: 16px;
}

span.frgt a{
    text-decoration: none;
    color: var(--main-color);
}

.form-wrapper1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.form-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.form-end-container{
    background: #f1f1f1;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--main-color);
    cursor: pointer;
}

/* Zoom Animation for login form */
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Breakpoints (Media Queries) */
@media screen and (max-width: 721px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 50px !important;
    }

}

@media screen and (max-width:600px) {
    nav .fas{
        display: block;
        font-size: 25px;
        color: #fff;
    }

    nav ul{
        background: var(--main-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 50%;
        padding-top: 50px;
        z-index: 2;
        transition: 00.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul li a.btn1{
        background: #080808 !important;
    }

    .wrap-el{
        position: absolute;
        top: 30%;
    }

    .top-header, .faq-row h1{
        font-size: 30px !important;
        font-weight: 600 !important;
    }

    .row-1 h2{
        font-size: 20px !important;
        font-weight: 400;
    }

    .row-1 .top-description{
        font-size: 18px !important;
    }

    form #sign-up{
        font-size: 16px;
        padding: 8px 14px;
    }

    form .btn{
        padding: 8px 16px;
    }

    .btn-get-started{
        font-size: 16px;
    }

    .row{
        flex-direction: column;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
        text-align: center;
    }

    .about-col-1{
        transform: scale(1);
    }

    .about-col-1 h2{
        font-size: 20px !important;
    }

    .about-col-1 .description{
        font-size: 17px !important;
    }

    .about-col-2{
        padding: 0 !important;
    }

    .about-col-2 img{
        transform: scale(1.1);
    }

    .reorderd-to-col-2{
        order: 2;
    }

    .reorderd-to-col-1{
        order: 1;
    }

    .accordion{
        width: 100%;
    }

    .accordion-question p{
        font-size: 17px;
    }

    .accordion-answer p{
        font-size: 16px;
    }
}

@media screen and (max-width: 349px) {
    .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(50%, 2fr));
    }

    .wrap-el{
        position: absolute;
        top: 20%;
    }

    .top-header{
        margin-top: 0;
        white-space: normal !important;
    }
}

@media screen and (max-width: 399px) {
    span.frgt {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



